.StatusBarTime:before	{ content: "PREVIEW_STATUS_BAR_TIME";}
.DayOfWeek:before 		{ content: "PREVIEW_SPRINGBOARD_DAY_OF_WEEK";}
.Messages:before 		{ content: "PREVIEW_SPRINGBOARD_MESSAGES";}
.Calendar:before 		{ content: "PREVIEW_SPRINGBOARD_CALENDAR";}
.Photos:before 			{ content: "PREVIEW_SPRINGBOARD_PHOTOS";}
.Camera:before 			{ content: "PREVIEW_SPRINGBOARD_CAMERA";}
.Weather:before 		{ content: "PREVIEW_SPRINGBOARD_WEATHER";}
.Clock:before 			{ content: "PREVIEW_SPRINGBOARD_CLOCK";}
.Videos:before 			{ content: "PREVIEW_SPRINGBOARD_VIDEOS";}
.Maps:before 			{ content: "PREVIEW_SPRINGBOARD_MAPS";}
.Wallet:before	 		{ content: "PREVIEW_SPRINGBOARD_WALLET";}
.Notes:before 			{ content: "PREVIEW_SPRINGBOARD_NOTES";}
.Reminders:before 		{ content: "PREVIEW_SPRINGBOARD_REMINDERS";}
.Stocks:before 			{ content: "PREVIEW_SPRINGBOARD_STOCKS";}
.iTunesStore:before 	{ content: "PREVIEW_SPRINGBOARD_ITUNES_STORE";}
.AppStore:before 		{ content: "PREVIEW_SPRINGBOARD_APPSTORE";}
.iBooks:before			{ content: "PREVIEW_SPRINGBOARD_IBOOKS";}
.News:before			{ content: "PREVIEW_SPRINGBOARD_NEWS";}
.Health:before			{ content: "PREVIEW_SPRINGBOARD_HEALTH";}
.Settings:before 		{ content: "PREVIEW_SPRINGBOARD_SETTINGS";}
.Phone:before 			{ content: "PREVIEW_SPRINGBOARD_PHONE";}
.Mail:before 			{ content: "PREVIEW_SPRINGBOARD_MAIL";}
.Safari:before 			{ content: "PREVIEW_SPRINGBOARD_SAFARI";}
.Music:before 			{ content: "PREVIEW_SPRINGBOARD_MUSIC";}
.Home:before			{ content: "PREVIEW_SPRINGBOARD_HOME";}
