BODY {
	direction:rtl !important;
}

/* Small */

#springboard-small 	{ background: #FFF url(Magnify-SpringBoard-568-RTL~iphone.png) top left no-repeat !important; }

#springboard-small .Messages,
#springboard-small .Weather,
#springboard-small .Wallet,
#springboard-small .Videos,
#springboard-small .Home,
#springboard-small .Phone {
	 left: 550px !important; 
}

#springboard-small .DayOfWeek,
#springboard-small .Calendar,
#springboard-small .Clock,
#springboard-small .Reminders,
#springboard-small .iBooks,
#springboard-small .Health,
#springboard-small .Safari {
	left: 377px !important;
}		

#springboard-small .Photos,
#springboard-small .Maps,
#springboard-small .Notes,
#springboard-small .iTunesStore,
#springboard-small .Settings,
#springboard-small .Mail {
	left: 194px !important;
}

#springboard-small .Camera,
#springboard-small .News,
#springboard-small .Stocks,
#springboard-small .AppStore,
#springboard-small .Music {
	left: 20px !important;
}

/* Medium */

#springboard-medium { background: #FFF url(Magnify-SpringBoard-667-RTL~iphone.png) top left no-repeat !important; }

#springboard-medium .Messages,
#springboard-medium .Weather,
#springboard-medium .Wallet,
#springboard-medium .Videos,
#springboard-medium .Home,
#springboard-medium .Phone {
	 left: 546px !important; 
}

#springboard-medium .DayOfWeek,
#springboard-medium .Calendar,
#springboard-medium .Clock,
#springboard-medium .Reminders,
#springboard-medium .iBooks,
#springboard-medium .Health,
#springboard-medium .Safari {
	left: 372px !important;
}		

#springboard-medium .Photos,
#springboard-medium .Maps,
#springboard-medium .Notes,
#springboard-medium .iTunesStore,
#springboard-medium .Settings,
#springboard-medium .Mail {
	left: 198px !important;
}

#springboard-medium .Camera,
#springboard-medium .News,
#springboard-medium .Stocks,
#springboard-medium .AppStore,
#springboard-medium .Music {
	left: 24px !important;
}

/* Large */

#springboard-large 	{ background: #FFF url(Magnify-SpringBoard-736-RTL~iphone.jpg) top left no-repeat !important; }

#springboard-large .Messages,
#springboard-large .Weather,
#springboard-large .Wallet,
#springboard-large .Videos,
#springboard-large .Home,
#springboard-large .Phone {
	 left: 887px !important; 
}

#springboard-large .DayOfWeek,
#springboard-large .Calendar,
#springboard-large .Clock,
#springboard-large .Reminders,
#springboard-large .iBooks,
#springboard-large .Health,
#springboard-large .Safari {
	left: 602px !important;
}		

#springboard-large .Photos,
#springboard-large .Maps,
#springboard-large .Notes,
#springboard-large .iTunesStore,
#springboard-large .Settings,
#springboard-large .Mail {
	left: 319px !important;
}

#springboard-large .Camera,
#springboard-large .News,
#springboard-large .Stocks,
#springboard-large .AppStore,
#springboard-large .Music {
	left: 35px !important;
}