BODY {
	direction:rtl !important;
}

.BlueBubble1,
.BlueBubble2,
.BlueBubble3 {
	text-align: right !important;
}

/* Small */

#messages-small 			{ background: #FFF url(Magnify-Messages-568-RTL~iphone.png) top left no-repeat !important; }
#messages-small .NavBack 	{ right: 64px; text-align: right !important; }
#messages-small .NavDetails { left: 16px; text-align: left !important; }


/* Medium */

#messages-medium 	{ background: #FFF url(Magnify-Messages-667-RTL~iphone.png) top left no-repeat !important; }
#messages-medium .NavBack 	{ right: 54px; text-align: right !important;  }
#messages-medium .NavDetails { left: 16px; text-align: left !important; }


/* Large */

#messages-large 	{ background: #FFF url(Magnify-Messages-736-RTL~iphone.png) top left no-repeat !important; }
#messages-large .NavBack 	{ right: 95px; text-align: right !important; }
#messages-large .NavDetails { left: 38px; text-align: left !important; }
