html { 
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

BODY {
	margin: 0px 0px;
	font: 24px -apple-system-font, sans-serif;
	color: #000;
	background: #FFF;
}

#messages-medium {
	width: 750px;
	height: 1334px;
	background: #FFF url(Magnify-Messages-667~iphone.png) top left no-repeat;
	position: absolute;
	-webkit-transition: -webkit-transform .35s;
	-webkit-transition-delay: .15s;
}

.StatusBarTime,
.NavTitle,
.Timestamp,
.GrayBubble1,
.BlueBubble1,
.BlueBubble2,
.GrayBubble2,
.BlueBubble3 {
	position:absolute;
	text-align: center;
	font-size: 34px;
}

.StatusBarTime {
	top: 5px;
	left: 275px;
	width: 200px;
	text-align: center;
	font: -apple-system-font, Times, sans-serif;
	font-size: 25px;
	font-weight: 600;
}

.Timestamp {
	font-size: 24px;
	width: 300px;
	left:225px;
	top: 195px;
	font-size: 22px;
	color: #8e8e93;

}

.iMessage,
.Today {
	font: -apple-system-font, Times, sans-serif;
	font-weight: 600;
}

.NavTitle {
    top: 126px;
    left: 275px;
    width: 200px;
    text-align: center;
	font-size: 24px;

}

.GrayBubble1,
.GrayBubble2,
.BlueBubble1,
.BlueBubble2,
.BlueBubble3 {
    line-height: 41px;
	font-size: 32px;
}

.GrayBubble1 {
	top: 300px;
	left: 54px;
	color: black;
}
.GrayBubble2 {
	top: 900px;
	left: 54px;
	color: black;
}

.BlueBubble1,
.BlueBubble2,
.BlueBubble3 {
	text-align: left;
	right:52px;
	color: white;
}

.BlueBubble1 {
	width: 370px;
	top: 387px;
}

.BlueBubble2 {
	width: 290px;
	top: 498px;
	right: 53px;
}

.BlueBubble3 {
	width: 350px;
	top: 981px;
	right: 48px;
}
