.StatusBarTime:before	{ content: "PREVIEW_STATUS_BAR_TIME";}
.NavBack:before 		{ content: "PREVIEW_MAIL_NAV_BACK";}
.NavEmailCount:before	{ content: "PREVIEW_MAIL_NAV_EMAIL_COUNT";}
.FromName:before 		{ content: "PREVIEW_MAIL_FROM_NAME";}
.To:before				{ content: "PREVIEW_MAIL_TO_LABEL";}
.ToName:before			{ content: "PREVIEW_MAIL_TO_NAME";}
.MoreLink:before 		{ content: "PREVIEW_MAIL_MORE_LINK";}
.Subject:before 		{ content: "PREVIEW_MAIL_SUBJECT";}
.Date:before 			{ content: "PREVIEW_MAIL_DATE";}
.Body1:before 			{ content: "PREVIEW_MAIL_BODY_1";}
.Body2:before 			{ content: "PREVIEW_MAIL_BODY_2";}
