html { 
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

BODY {
	margin: 0px 0px;
	font: 39px -apple-system-font, sans-serif;
	color: #000;
	background: #FFF;
}

#mail-large {
	width: 1242px;
	height: 2208px;
	background: #FFF url(Magnify-Mail-736~iphone.jpg) top left no-repeat;
	position: absolute;
	-webkit-transition: -webkit-transform .35s;
	-webkit-transition-delay: .15s;
}

.StatusBarTime,
.NavBack,
.NavEmailCount,
.FromName,
.ToString,
.Subject,
.Date,
.BodyText {
	position:absolute;
	text-align: center;
	font-size: 51px;
}

.StatusBarTime {
	top: 8px;
	left: 420px;
	width: 400px;
	text-align: center;
	font: -apple-system-font, Times, sans-serif;
	font-size: 37px;
	font-weight: 600;
}

.NavBack {
	top: 95px;
	left: 95px;
	color: #007aff;
}

.NavEmailCount {
	top: 95px;
	left: 425px;
	width: 400px;
	text-align: center;
	font-weight: 600;
}

.FromName {
	top: 218px;
	left: 63px;
	font: -apple-system-font, Times, sans-serif;
	font-weight: 600;
}

.ToName {
	color: #959595;
}

.ToString {
	width: 900px;
	top: 278px;
	left: 63px;
	text-align: left;
}

.ToString span {
	font-size: 45px;
}

.Subject {
	top: 410px;
	font: -apple-system-font, Times, sans-serif;
	font-weight: 600;
	left: 63px;
}

.Date {
	top:482px;
	left:63px;
	font-size: 45px;
	color: #959595;
}

/*body text*/

.BodyText {
	width:1110px;
	top: 606px;
	left: 63px;
	text-align: left;
}

.BodyText .Body1,
.BodyText .Body2 {
	margin-left: 0;
	padding-left: 0;
	line-height: 66px;
	margin-bottom: 66px;
	display:block;
}
