.StatusBarTime:before	{ content: "PREVIEW_STATUS_BAR_TIME";}
.NavBack:before 		{ content: "PREVIEW_MESSAGES_NAV_BACK";}
.NavTitle:before        { content: "PREVIEW_MESSAGES_NAV_TITLE";}
.NavDetails:before 		{ content: "PREVIEW_MESSAGES_NAV_DETAILS";}
.iMessage:before		{ content: "PREVIEW_MESSAGES_IMESSAGE";}
.Today:before			{ content: "PREVIEW_MESSAGES_TODAY";}
.Time:before			{ content: "PREVIEW_MESSAGES_TIME";}
.GrayBubble1:before 	{ content: "PREVIEW_MESSAGES_GRAY_BUBBLE_1";}
.BlueBubble1:before 	{ content: "PREVIEW_MESSAGES_BLUE_BUBBLE_1";}
.BlueBubble2:before 	{ content: "PREVIEW_MESSAGES_BLUE_BUBBLE_2";}
.GrayBubble2:before 	{ content: "PREVIEW_MESSAGES_GRAY_BUBBLE_2";}
.BlueBubble3:before 	{ content: "PREVIEW_MESSAGES_BLUE_BUBBLE_3";}
.InputSend:before 		{ content: "PREVIEW_MESSAGES_INPUT_SEND";}

