html { 
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

BODY {
	margin: 0px 0px;
	font: 28px -apple-system-font, sans-serif;
	color: #000;
	background: #FFF;
}

#mail-small {
	width: 750px;
	height: 1334px;
	background: #FFF url(Magnify-Mail-568~iphone.png) top left no-repeat;
	position: absolute;
	-webkit-transition: -webkit-transform .35s;
	-webkit-transition-delay: .15s;
}

.StatusBarTime,
.NavBack,
.NavEmailCount,
.FromName,
.ToString,
.Subject,
.Date,
.BodyText {
	position:absolute;
	text-align: center;
	font-size: 40px;
}

.StatusBarTime {
	top: 5px;
	left: 275px;
	width: 200px;
	text-align: center;
	font: -apple-system-font, Times, sans-serif;
	font-size: 29px;
	font-weight: 600;
}

.NavBack {
	top: 75px;
	left: 64px;
	color: #007aff;
}

.NavEmailCount {
	top: 75px;
	left: 275px;
	width: 200px;
	text-align: center;
	font-weight: 600;
}

.FromName {
	top: 171px;
	left: 38px;
	font: -apple-system-font, Times, sans-serif;
	font-weight: 600;
}

.ToString {
	width: 500px;
	top: 217px;
	left: 38px;
	text-align: left;
}

.ToName {
	color: #959595;
}

.ToString span {
	font-size: 34px;
}


.Subject {
	top: 322px;
	font: -apple-system-font, Times, sans-serif;
	font-weight: 600;
	left: 38px;
}

.Date {
	top:376px;
	left:38px;
	font-size: 36px;
	color: #959595;
}

/*body text*/

.BodyText {
	width:700px;
	top: 474px;
	left: 36px;
	text-align: left;
}

.BodyText .Body1,
.BodyText .Body2 {
	margin-left: 0;
	padding-left: 0;
	line-height: 52px;
	margin-bottom: 52px;
	display:block;
}
