html { 
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

BODY {
	margin: 0px 0px;
	font: 24px -apple-system-font, sans-serif;
	color: #000;
	background: #FFF;
}

#mail-medium {
	width: 750px;
	height: 1334px;
	background: #FFF url(Magnify-Mail-667~iphone.png) top left no-repeat;
	position: absolute;
	-webkit-transition: -webkit-transform .35s;
	-webkit-transition-delay: .15s;
}

.StatusBarTime,
.NavBack,
.NavEmailCount,
.FromName,
.ToString,
.Subject,
.Date,
.BodyText {
	position:absolute;
	text-align: center;
	font-size: 34px;
}

.StatusBarTime {
	top: 5px;
	left: 275px;
	width: 200px;
	text-align: center;
	font: -apple-system-font, Times, sans-serif;
	font-size: 25px;
	font-weight: 600;
}

.NavBack {
	top: 64px;
	left: 54px;
	color: #007aff;
}

.NavEmailCount {
	top: 64px;
	left: 275px;
	width: 200px;
	text-align: center;
	font-weight: 600;
}

.FromName {
	top: 147px;
	left: 32px;
	font: -apple-system-font, Times, sans-serif;
	font-weight: 600;
}

.ToName {
	color: #959595;
}

.ToString {
	width: 400px;
	top: 187px;
	left: 32px;
	text-align: left;
}

.ToString span {
	font-size: 30px;
}

.Subject {
	top: 274px;
	font: -apple-system-font, Times, sans-serif;
	font-weight: 600;
	left: 32px;
}

.Date {
	top:321px;
	left:32px;
	font-size: 30px;
	color: #959595;
}

/*body text*/

.BodyText {
	width:700px;
	top: 404px;
	left: 32px;
	text-align: left;
}

.BodyText .Body1,
.BodyText .Body2 {
	margin-left: 0;
	padding-left: 0;
	line-height: 40px;
	margin-bottom: 44px;
	display:block;
}
