/* Small */
#springboard-small 	{ background: #FFF url(Magnify-SpringBoard-Dynamic-568~iphone.png) top left no-repeat !important; }

/* Medium */
#springboard-medium { background: #FFF url(Magnify-SpringBoard-Dynamic-667~iphone.png) top left no-repeat !important; }

/* Large */
#springboard-large 	{ background: #FFF url(Magnify-SpringBoard-Dynamic-736~iphone.jpg) top left no-repeat !important; }

